<ul class="main">
	<% @workshops.find_each do |workshop| %>
	<li>
		<%= workshop.title %> - <%= workshop.link%>
		<%= link_to 'Delete',  workshop_path(workshop),
				  data: { confirm: 'Are you sure you want to delete this workshop?' }, method: :delete, class:'as--workshop-delete' %>
		<hr>		  
	</li>
	<% end %>
</ul>
<p>Add a new workshop</p>
<%= simple_form_for(@workshop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :link %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
