<div class="wrapper">

  <h1 class="as--admin-title">Admin</h1>

  <ul class="tabs">
    <li class="tab-link current" data-tab="lessons-tab">Lessons</li>
    <li class="tab-link" data-tab="users-tab">Users</li>
    <li class="tab-link" data-tab="mailing-tab">Mailing List</li>
    <li class="tab-link" data-tab="workshops-tab">Workshops</li>
    <li class="tab-link" data-tab="download-tab">Download List</li>
  </ul>

  <div id="lessons-tab" class="tab-content current">
    <h2>Lessons</h2>
    <%= form_tag(admin_path, method: :get, remote: true) do %>
    <div class="as--filter-wrap">
      <div >
        <p>Status: <%= select_tag :filter, options_for_select([ "all","approved", "unapproved" ], "all"), class: "lesson_filter" %></p>
      </div>
      <div class="as--search-wrap">
        <%= text_field_tag :search,nil , class: 'lesson_search' %>
        <%= submit_tag 'search', class:"button button--primary" %>
      </div>
    </div>
    <% end %>
    <div id="lessons-admin" class="as--lessons-admin">
      <%= render 'lessons_admin' %>
    </div>

  </div>

  <div id="users-tab" class="tab-content">
    <h2>Users</h2>

    <%= form_tag(admin_path, method: :get, remote: true) do %>
      <%= text_field_tag :user_search, nil, class: 'user_search' %>
      <%= submit_tag 'search', class:"button button--primary" %>
    <% end %>
    <div id="users-admin">
      <%= render 'users_admin' %>
    </div>

  </div>

  <div id="mailing-tab" class="tab-content">
    <h2>Mailing List</h2>
    <%= link_to 'Download', download_mailing_list_path(:format => 'csv'), class: "button button--primary" %>
    <%= form_tag(admin_path, method: :get, remote: true) do %>
      <%= text_field_tag :user_search, nil,id: 'mailer_search', name: 'mailer_search', class: 'mailer_search' %>
      <%= submit_tag 'search', class:"button button--primary mailer_search" %>
    <% end %>
    <div id="mailers-admin">
      <%= render 'mailers_admin' %>
    </div>

  </div>

  <div id="workshops-tab" class="tab-content">
    <h2>Workshops List</h2>
    
    <div id="workshops-admin">
      <%= render 'workshops_admin' %>
    </div>

  </div>
  <div id="download-tab" class="tab-content">
    <h2>Downloaded PDF</h2>
    
    <div id="download-admin">
      <%= render 'download_admin' %>
    </div>

  </div>
</div>


<script>
      $('.lesson_approved_check').change(function(){
        lesson = $(this).attr('data')
        approved = $(this)[0].checked
        $.ajax({
          url: '/admin',
          type: 'get',
          data: {
            lesson: lesson,
            approved: approved
          }
        })
      });

      $('.lesson_filter').on('change', function(){
        filter = $(this).val()
        $.ajax({
          url: '',
          type: 'get',
          data: {
            filter: filter
          }
        })
      });

      $('.lesson_search').on('submit', function(){
        query = $(this).val()
        $.ajax({
          url: '',
          type: 'get',
          data: {
            search: query
          }
        })
      })

      $('.user_search').on('submit', function(){
        query = $(this).val()
        $.ajax({
          url: '',
          type: 'get',
          data: {
            user_search: query
          }
        })
      })

      $('.mailer_search').on('submit', function(){
        query = $(this).val()
        $.ajax({
          url: '',
          type: 'get',
          data: {
            mailer_search: query
          }
        })
      })

    $('ul.tabs li').click(function(){
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
    })

  // })
</script>