<div class="wrapper wrapper--secondary">
    <h2 class="about-heading">About Us</h2>
  <div class="wrapper-flex as--about">    
    <div>
      <p><strong>Teachers Learning Code</strong> is designed by Ladies Learning Code and proudly supported by Scotiabank for educators focused on inspiring kids to be builders – not just consumers - of technology through coding activities and challenges.</p> 
      <p class="special">It’s all about using technology and changing the world through teamwork, creativity, and, of course, code.</p>
      <p>Whether you’re a teacher in a classroom, a program coordinator at a community centre, a home-schooling parent or a Girl Guide troop leader - we’ve put together a comprehensive how-to guide and lesson planning tool to help you teach kids to code. </p>
      <p>Want to learn more? Contact <a href="mailto:carolyn@ladieslearningcode.com">carolyn@ladieslearningcode.com</a></p>
    </div>
    <%= image_tag 'tlc-circlehash.svg'%>
  </div>
  <div class="wrapper--flex">
    <div class="col--two as--about-guide-wrap">
      <h2 class="about-heading">Download the Guide</h2>
      <div class="as--about-guide">
        <div><%= image_tag 'tlc-howtoguide-mockup.png'%></div>
        <div>
          <p>We’ve combined our experiences teaching thousands of youth across the country to code, our tips and tricks to get started, resources to familiarize yourself with code, plus lots of easy to follow and even easier to implement coding activities to empower and teach the future generation of technologists across Canada.</p>
          <p class="special">This guide is your jumping off point - where you choose to take your program is up to you!</p>
          <p>We encourage you to use as much or as little of the guide as you like, to remix the challenges we’ve created or create new ones and share them with our community.</p>
          <a href="#" class="button button--tertiary as--about-buttons" data-open="pdf_download">Download The Guide</a>
          <%= link_to 'Download The Guide', 'assets/TLC-gettingstartedguide.pdf', :target => '_blank', class: 'display-none', id: 'pdf'%>

          
        </div>
      </div>
    </div>
    <div class="as--about-training">
      <div class="as--training">
        <h2>Request Training</h2>
        <p>Our training workshops across the country are led by industry leading experts and educators from our community. We’ll delve into our TLC guide and lesson plans while teaching educators how to use Scratch - a popular program to teach kids to code, how to map coding to the curriculum and how to introduce coding to your students!</p>
        <h2>Upcoming Workshops</h2>
        <p>Check out our list of upcomming workshops for one hosted in your area. To learn more and register click on any of the workshop links.</p>
        <ul> 
          <% @workshops.each do |workshop|%>
            <li><a href="<%= workshop.link%>" target="_blank"><%= workshop.title%></a><li>
          <% end %>
        </ul>
        <div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxdcAx7qCrrpuT9oZ8exKNwxc2DUst6Ubh9sDNHaSEVEX8Lw/viewform?c=0&w=1" class="button button--tertiary as--about-buttons" target="_blank">Request<br>a Workshop</a>
          <!-- <a href="http://ladieslearningcode.com/" class="button button--tertiary as--about-buttons" target="_blank">more upcoming<br>workshops</a> -->
        </div>
      </div>
      <div class="as--training">
        <h2>Join Our Online Network</h2>
        <p>Ladies Learning Code was built for the community by the community and it has made all of the difference for our learners’ success.  Join our Teachers Learning Code community forum, a Slack Team, to connect with other educators across the country, share resources and ask questions to our talented and generous community of developers and technical educators coast to coast.</p>
        <a href="#" class="button button--tertiary as--about-buttons" target="_blank" data-open="slack">Join<br>the Forum</a>
      </div>
    </div>
  </div>
 
</div>

<div class="modal--overlay">
  <div class="modal modal--about" id="slack">
    <form action="https://script.google.com/macros/s/AKfycbyPQ7KkP-dG-Ubxq98uftLjVvacMDSmxJNtSFhLyc5tIijX3cE/exec" id="slack-form" method="post">
      <label for="name">your name</label>
      <input type="text" id="name" name="name" value="">
      <label for="email">your email</label>
      <input type="email" id="email" name="email" value="">
      <input type="submit" value="join" class="button button--tertiary">
    </form>
  </div>
  <div class="modal modal--about" id="thank-you">
    <p class="center">Thank you! You will receive an invite to our Slack group shortly.</p>
  </div>
  <div class="modal modal--about" id="pdf_download">
      <%= simple_form_for(@download_list, remote: true, :authenticity_token => true) do |f| %>
        <%= f.error_notification %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.button :submit, 'Download', class:'button button--tertiary', download: 'assets/TLC-gettingstartedguide.pdf', id: 'pdf-trigger' %>
      <% end %>
  </div>
</div>



<script>

  $('[data-open]').on('click', function(e){
    e.preventDefault()
    var modal = $(this).data('open')
    $('#' + modal +', .modal--overlay').css('display', 'block').addClass('active')
  });

  $('#pdf-trigger').on('click', function(){
    $('#pdf').trigger('click')
  })

  $('.modal--overlay').on('click', function(){
    
    if($('.modal').hasClass('active')){
      $('.modal.active, .modal--overlay').removeClass('active').css('display', 'none');
    }
  });
  $('.modal').on('click', function(e){
    e.stopPropagation();
  });

  (function ($) {

    $('#new_download_list').submit(function(){
     $('.modal.active, .modal--overlay').removeClass('active').css('display', 'none');
     document.getElementById('pdf').click()
    })
      $.fn.serializeFormJSON = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
          if (o[this.name]) {
            if (!o[this.name].push) { o[this.name] = [o[this.name]]; }
            o[this.name].push(this.value || '');
          } else { o[this.name] = this.value || ''; }
        });
        return o;
      };
    })(jQuery);
  var request;
  $('#slack-form').submit(function(e){
    var $form = $(this)
    var serializedData = $form.serializeFormJSON()
    console.log(serializedData)
    var $inputs = $form.find("input, select, button, textarea");
    request = $.ajax({
      url: 'https://script.google.com/macros/s/AKfycbyPQ7KkP-dG-Ubxq98uftLjVvacMDSmxJNtSFhLyc5tIijX3cE/exec', 
      type: 'post', 
      data: serializedData
    });

     // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        $('.modal.active').removeClass('active').css('display', 'none');
        
        $('#thank-you').css('display', 'block').addClass('active');
        setTimeout(function(){
          $('#thank-you').css('display', 'none').removeClass('active');
          $('.modal--overlay').css('display', 'none').removeClass('active');
        }, 2000)

    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });
    request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });
    e.preventDefault()
  });
   
</script>