<%if notice.present?%>
  <p id="notice"><%= notice %></p>
<% end %>  

<div class="wrapper wrapper--flex lesson--level-<%= @lesson.level %> as--lesson-wrapper">
  <div class="lesson--single-title-bar">
    <h2 class="as--no-top-margin"><%= @lesson.title %></h2>
    <h3 class="font-quicksand as--no-top-margin">By: <%= @lesson.profile.first_name %> <%= @lesson.profile.last_name %></h3>
    <h3 class="font-quicksand as--no-top-margin">
      Grade:
      <% @lesson.grade_list.each do |grade| %>
      <%= grade %>
      <% end %>
      | Level: <%= @lesson.level %> | ~<%= @lesson.duration_in_minutes %> minutes
    </h3>
  </div>
  <div class="lesson--single-title-img" style="background-image: url(<%= @lesson.feature_image.url(:medium) %>)"></div>
  <div class="lesson--single-text">
    <h3 class="as--underlined">The Lesson</h3>
    <div class="text-edit">
      <%= @lesson.content.html_safe %>
    </div>
    <% if @lesson.extensions.present? %>
      <h3 class="as--underlined">Extensions</h3>
      <div class="text-edit">
        <%= @lesson.extensions.html_safe %>
      </div>
    <% end %>

    <% if @lesson.answers.present? %>
      <h3 class="as--underlined">Answers</h3>
      <div class="text-edit">
        <%= @lesson.answers.html_safe %>
      </div>
    <% end %>
    <% if @lesson.video_link.present?%>
        <%= @lesson.video_link.html_safe %>
    <% end %>
    <% if @lesson.file_upload.file? %>
      <%= link_to 'download additional materials', @lesson.file_upload.url, target: '_blank', class: 'button button--secondary' %>
    <% end %>
    <% if @lesson.suggested_lessons.present? %>
      <h3 class="as--underlined">Suggested Lessons</h3>
      <ul> 
        <% @lesson.suggested_lessons.each do |sug_lesson|%>
          <% if sug_lesson.suggested_lesson_id > 0%>
            <% the_lesson = Lesson.where(id: sug_lesson.suggested_lesson_id.to_i).first%>
              <li><%= link_to the_lesson.title, lesson_path(the_lesson) %></li>
          <% end %>
        <% end %> 
      </ul>
    <% end %>
  </div>
  <div class="sidebar">
    <!-- <%= image_tag @lesson.feature_image.url(:medium) %> -->
    <div class="sidebar--text word-wrap">
      <ul class="list--tags">
        <li class="title">Subjects:</li>
        <% @lesson.subject_list.each do |subject| %>
          <li><%= subject %></li>
        <% end %>
      </ul>
      <% if @lesson.prep.present? %>
        <h3>Prep</h3>
        <div class="text-edit">
          <%= @lesson.prep.html_safe %>
        </div>
      <% end %>
      <ul class="list--tags">
        <li class="title">Programming Concepts:</li>
        <% @lesson.code_concept_list.each do |code_concept| %>
          <li><%= code_concept %></li>
        <% end %>
      </ul>
      <% if @lesson.curriculum_concepts.present? %>
        <h3>Key Curriculum Concepts</h3>
        <div class="text-edit">
          <%= @lesson.curriculum_concepts.html_safe %>
        </div>
      <% end %>

      <% if @lesson.programming_concepts.present? %>
        <h3>Key Coding Concepts</h3>
        <div class="text-edit">
          <%= @lesson.programming_concepts.html_safe %>
        </div>
      <% end %>

      
      <% if @lesson.references.present? %>
        <h3>References</h3>
        <div class="text-edit">
          <%= @lesson.references.html_safe %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<br>
