<%= simple_form_for(@suggested_lesson) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :lesson %>
    <%= f.input :suggested_lesson_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
